MOODLE_NETWORK_NAME=moodle_network_customer1
ROUTER=moodle-customer1
DB_VOLUME_NAME=db_data_customer1
MOODLE_DATA_VOLUME_NAME=moodle_data_customer1
MOODLE_SOURCE_VOLUME_NAME=moodlesourcecode_data_customer1
POSTGRES_USER=moodleuser1
POSTGRES_PASSWORD=customer1password
POSTGRES_DB=moodle_customer1
MOODLE_DB_NAME=moodle_customer1
MOODLE_DB_USER=moodleuser1
MOODLE_DB_PASSWORD=customer1password
MOODLE_URL=moodleinst.mosalam.com
